.aboutus::-webkit-scrollbar {
    width: 7px;
}
.aboutus::-webkit-scrollbar-track {
    background-color: transparent;
}
.aboutus::-webkit-scrollbar-thumb {
    background-image: linear-gradient(135deg, #f12711 10%, #f5af19 100%);

    border-radius: 20px;
}
.aboutus::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.aboutus {
    width: 95%;
    height: 71vh;
    font-size: 2.5rem;
    margin-top: 0.3rem;
    overflow-y: scroll;
}

.aboutus h1 {
    display: flex;
    font-weight: bold;
    justify-content: center;
    margin-top: 0.5rem;
}

.aboutus p {
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    color: #5f0a87;
}

#mission {
    margin-left: 2.2rem;
    margin-top: 2.3rem;
}
.aboutus h2 {
    margin-left: 1.4rem;
    margin-top: 1rem;
    font-weight: bold;
    font-style: rgb(21, 255, 0);
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    letter-spacing: 2px;
}
.aboutus .mission {
    font-size: 1rem;
}

span {
    font-size: 1.5rem;
}

.card {
    background: rgba(255, 255, 255, 0.2);
    display: inline-block;
    border-radius: 1.2rem;
    width: 18rem;
    height: 29rem;
    margin-bottom: 1rem;
    transform-style: preserve-3d;
    transition: all 0.7s ease;
}

.card .front{
    backface-visibility: hidden;
}

.card img {
    border-radius: 50%;
    padding: 1rem;
}

.center {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    margin-right: 1.2rem;
}

.card-title,
.btn {
    display: flex;
    justify-content: center;
}

.circle {
    margin-top: 1rem;
}

.btn-primary {
    background: linear-gradient(315deg, #405bf8 0%, #fd249b 74%);
    color: black;
    font-weight: bold;
}

.card .back{
    position: absolute;
    top: 0;
    width: 100%;       
    height: 100%;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: #405bf8;
    border-radius: 1.2rem;
}

.back ul{
    list-style: none;
    margin: 3rem 1rem;
}

.back ul li{
    margin-bottom: 1.5rem;
    padding: 0.5rem;
}

.back ul li a{
    font-size: 1.7rem;
    color: white;
    padding: 0.5rem;
    background-color: transparent;
}

.back ul li a:hover{
    font-size: 2rem;
    transform: perspective(400px) translateZ(80px);
}

.card:hover{
    transform: rotateY(180deg);
}

@media screen and (max-width: 767px) {
    .card {
        width: 70%;
    }
}
@media screen and (max-width: 333px) {
    .card{
        width: 100%;
    }
}
