*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    position: relative;
    color: blue;
    
}
#contactandcontri{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    align-content: center;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
      margin-top:1rem;
    background-color: #040faa;
    color: white;
    width: 100%;
    padding: 12px 9px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #002df8;
  }
  
  .contributer-section {
    width: 44%;
    border-radius: 5px;
    background-color: #f2f2f2;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.2), 0 5px 5px 0 rgba(194, 194, 194, 0.24);
    padding: 4rem 2rem 2rem 3rem;
    /* height: 45rem; */
  }
.contact-section{
    
    position: relative;
    width: 44%;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(252, 252, 252, 0.2), 0 5px 5px 0 rgba(236, 236, 236, 0.24);
    /* background-color: #f2f2f2; */
    border-radius: 5px;
}

#divison{
    height: 38rem;
    width: 2px;
    position: relative;
    background-color: #ccc;
    box-shadow: 0 0 20px 0 rgba(252, 252, 252, 0.2), 0 5px 5px 0 rgba(236, 236, 236, 0.24);
}

.text{
    font-family: 'Courier New', Courier, monospace;
    color: #f2f2f2;
    margin-top: 7px;
}

@media (max-width:766px){
  #contactandcontri{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
 
#divison{
  height: 2px;
  width: 90%;
  top: 2rem;
  position: relative;
  background-color: #ccc;
  box-shadow: 0 0 20px 0 rgba(252, 252, 252, 0.2), 0 5px 5px 0 rgba(236, 236, 236, 0.24);
}
.contributer-section {
  width: 75%;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.2), 0 5px 5px 0 rgba(194, 194, 194, 0.24);
  padding: 4rem 2rem 2rem 2rem;
  height: 38rem;
}
.contact-section{
    
  position: relative;
  top: 4rem;
  width: 75%;
  padding: 20px;
  box-shadow: 0 0 20px 0 rgba(252, 252, 252, 0.2), 0 5px 5px 0 rgba(236, 236, 236, 0.24);
  /* background-color: #f2f2f2; */
  border-radius: 5px;
}
}
@media (max-width:404px){
  .contributer-section {
    width: 85%;
    height: 39rem;
    padding: 2rem;
  }
}
@media (max-width:365px){
  .contributer-section {
    width: 90%;
    padding: 2rem;
  }
}
@media (max-width:304px){
  .contributer-section {
    width: 100%;
    padding: 2rem;
  }
  .contact-section{
    width: 100%;
  }
}