form *{
    color: black;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25rem;
    padding: 1.4rem;
    transform: translate(-50%, -50%);
    background: url("https://res.cloudinary.com/practicaldev/image/fetch/s--_MCEk7P6--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://dev-to-uploads.s3.amazonaws.com/i/vm957e5dm3hxnwc94dd7.jpg");
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
 
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
.submit{
    margin-top: 1.5rem;
    width: 20%;
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid white;
    color: black;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    font-weight: 100;
    cursor: pointer;
}

::placeholder{
    color: rgb(245, 181, 181);
}

.submit-btn{
    display:flex;
    justify-content: center;  
}

@media (max-width:430px){
    .login-box {
        width: 22rem;
    }
}
@media (max-width:377px){
    .login-box {
        width: 18rem;
    }
}