* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Dongle', sans-serif;
}
body {
    height: 100vh;
}
.content{
    height: 71.5vh; 
    height: 75vh;
    width: 73%;
    margin:auto;

}
.main{
    height: 100vh;
    width: 100vw;
    background-image: url('../imgs/background.png');
    background-size: cover;
}

header{ 
    display: flex;
    
    box-shadow: 2px solid rgb(98, 98, 245);

    height: 15vh;
}

.navbar{
    width: 100%;
}
.nav_menu {
    list-style: none;
    padding-left: 1rem;
    display: flex;
    margin-top: 1.5rem;
    align-items: center;
    margin-left: -2rem;
}

.nav_menu li {
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 0.9rem;
    display: flex;
    margin-right: 3rem;
    justify-content: space-around;
    font-size:1.5rem;
    font-weight: bold;
}


.nav_menu li a {
    color:white;
    text-decoration: none;
}

.nav_menu li a:hover {
    border-bottom: 0.2rem solid white;
}

.logo{
    display: flex;
    padding-right: 0rem;
    margin-right: -5rem;
    margin-top:-1.3rem;
}
.logo img{
    height: 7rem;
    width: 5rem;
    position: absolute;
    top:0.2rem;
    right: -7rem;
}
.logo a {
    text-decoration: none;
    font-family: 'Exo', sans-serif;
}
.logo a h3 {
    margin-top: 2rem;
    color: white;
    margin-right: 1.3rem;
    font-weight: bold;
}
.icons{
    position: absolute;
    left: 45%;
    bottom:2rem;
    right:1rem;
}
.icons a{
    color: black;
    margin-right: 2rem;
    font-size: 2rem;
}

.image img{
    height: 5.5rem;
    width: 5rem;
}
#signup{
    position: absolute;
    border-radius: 12px;
    color: white;
    top: 7rem;
    right: -5rem;
}