* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Dongle', sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");


body {
max-width: 100%;
/* color: white; */
font-family: "Poppins", sans-serif;
overflow: hidden;
}
#bg{
position: fixed;
top: 0;
left: 0;
z-index: -4;
min-width: 100%;
min-height: 100%;
}
#imglogo{
width: 2rem;
height: 2rem;
}
header a {
text-decoration: none;
}

header {
padding: 0 20px;
/* background-color: #04d4db; */
height: 50px;
display: flex;
justify-content: space-between;
}

#brand {
font-weight: bold;
font-size: 18px;
display: flex;
align-items: center;
}

#brand a {
color: #ffffff;
  font-size: 1.29rem;
}

ul {
font-size: 1.29rem;
list-style: none;
height: 100%;
display: flex;
align-items: center;
justify-content: space-around;
}

ul a {
color: white;
}

ul li {
padding: 5px;
margin-left: 10px;
}

ul li:hover {
  color: white;
transform: scale(1.1);
transition: 0.3s;
}

.effect{
  display: inline-block;
  position: relative;
}
.effect:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.effect:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


#login,
#signup {
border-radius: 5px;
padding: 5px 8px;
}

#login {
background: linear-gradient(135deg ,rgba(52,90,164,1), rgba(63,0,156,0.92));
border: 1px solid #050505;

}

#signup {
  background: linear-gradient(135deg ,rgba(52,90,164,1), rgba(63,0,156,0.92));
border: 1px solid #000000;
}

#signup a {
color: #ffffff;
}

#login a {
color: #ffffff;
}

#hamburger-icon {
margin: auto 0;
display: none;
cursor: pointer;
}

#hamburger-icon div {
width: 35px;
height: 3px;
background-color: white;
margin: 6px 0;
transition: 0.4s;
}

.open .bar1 {
-webkit-transform: rotate(-45deg) translate(-6px, 6px);
transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
opacity: 0;
}

.open .bar3 {
-webkit-transform: rotate(45deg) translate(-6px, -8px);
transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
}

.mobile-menu {
display: none;
position: absolute;
top: 50px;
padding: 4rem;
left: 0;
height: calc(100vh - 50px);
background:url("../imgs/background.png") ;

width: 100%;
}

.mobile-menu li {
margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
header nav {
  display: none;
}

#hamburger-icon {
  display: block;
}
}


/* footer */
#fott{
position: fixed;
bottom: 0;
left: 23rem;
}

@media only screen and (max-width: 420px) {
  #fott {
      left: -10rem;
  }
 
}
@media only screen and (max-width:490px) and (min-width:421px) {
  #fott {
      left: -9rem;
  }

}
@media only screen and (max-width:865px) and (min-width:810px) {
  #fott {
      left: 9rem;
  }
}
@media only screen and (max-width:920px) and (min-width:865px) {
  #fott {
      left: 9rem;
  }
}
@media only screen and (max-width:990px) and (min-width:865px) {
  #fott {
      left: 13rem;
  }
}
@media only screen and (max-width:810px) and (min-width:595px) {
  #fott {
      left: 1rem;
  }
}
@media only screen and (max-width:596px) and (min-width:490px) {
  #fott {
      left: -2rem;
  }
}

.fa {
position: relative;
left: 14rem;
padding: 20px;
font-size: 30px;
width: 50px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
border-radius: 50%;
}

.fa:hover {
opacity: 0.7;
}

.fa-twitter {
background: #55ACEE;
color: white;
}

.fa-github {
background: #20252575;
color: white;
}

.fa-instagram {
background: #007bb5;
color: white;
}

