#mainCont{
    display: flex;
    justify-content: center;
}
.container{
  margin: 0 auto;
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
}
.card{
  width: 14rem;
  height: 16rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
}
.card .card-body .card-title{
  text-align: center;
}
.card .card-body .card-title a{
  text-decoration: none;
  color: black;
}
.card .card-body .card-title a:hover{
  color: blue;
  cursor: pointer;
}